* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.parent {
  background-image: url(/src/assets/sky.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#root {
  /* max-width: 1280px; */
  height: 100vh;
  width: 100vw;
}
